{% extends "base.html" %}

{% block menubar %}

<nav role="navigation" class="main-nav" aria-labelledby="block-mainnavigation-2-menu" id="block-mainnavigation-2" data-block-plugin-id="menu_block_current_language:main">
            
	<h2 class="visually-hidden" id="block-mainnavigation-2-menu">Main navigation</h2>
	
  
		  
					  <ul block="block-mainnavigation-2" class="menu-level-0">
				
						<li>
							<a href="dashboard" class="trigger">Dashboard</a>
						</li>
			  <li>
			<li>
				  <a href="business_checks" class="trigger">Business Checks</a>
				   
				</li>
			<li>
				  <a href="data_checks" class="trigger" data-drupal-link-system-path="node/1001">Data Checks</a>
					
				</li>
			<li>
				  <a href="logs" class="trigger" rel="noreferrer">Log Monitoring</a>
				   
				</li>
			
			<li>
				  <a href="onboard" class="trigger">On-Boarding</a>
				   
				</li>
			<li>
				<a href="{{url_for('index')}}" class="trigger">Sign Out</a>
				   
				</li>
		  </ul>
	
  
  
	</nav>
{% endblock %}

{% block content %}

	<h1>Logs</h1>      
	<table id="log_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Status</th>
                <th>Start Datetime</th>
                <th>End Datetime</th>
				<th>Last Updated</th>
				<th>Error</th>
            </tr>
        </thead>
        
    </table>
		
{% endblock %}

{% block scripts %}
<link rel="stylesheet" media="all" href="./static/css_datatable.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript">
		function setupData() {
			$(document).ready(function () {
				$('#log_table').DataTable({
					"ajax": {
						// "url": "static/objects2.txt", // This works for the static file
						"url": "/generate_logs", 
						"dataType": "json",
						"dataSrc": "data",
						"contentType":"application/json"
					},
					"columns": [
						{"data": "JOB_ID"},
						{"data": "JOB_NAME"},
						{"data": "STATUS"},
						{"data": "START_DATETIME"},
						{"data": "END_DATETIME"},
						{"data": "LAST_UPDATED"},
						{"data": "ERROR"}
					]
					
					
				});
					
			});
		}
		$(window).on( "load", setupData );
	</script>


{% endblock %}